<!-- START ABOUT US -->
<section class="about_us section-padding" style="padding-bottom: 0px;">
	<div class="container">
		<div class="row align-items-center">

			<div class="col-lg-6 col-sm-12 col-xs-12" style="height: 400px;">
				<h2 class="d-sm-none d-block pt-3 pb-3 center-elements">A propos</h2>
				<div class="about_img mb-4"
					style="background-image: url('{{ asset('themes/front/img/core/0.jpeg') }}'); background-repeat: no-repeat; border-radius: 20px; background-size: cover; background-position: center; width: 100%; height: 100%; position: relative; bottom: 0; left: 0">
				</div>
			</div>
			<!--- END COL -->

			<div class="col-lg-6 col-sm-12 col-xs-12">
				<div class="pt-sm-4 about-content justify-center">
					<div class="section-title text-left">
						<h2 style="" class="d-none d-sm-block center-elements">A propos</h2>
					</div>
					<p class="text-justify p-0">Ce test vous permet de vérifier rapidement et facilement votre éligibilité aux
						réductions d'impôts en Belgique. Il suffit de répondre remplir ce questionnaire en ligne en indiquant
						vos informations personnelles et professionnelles, et vous obtiendrez immédiatement une estimation de
						vos réductions d'impôts potentielles.</p>
					<p class="text-justify p-0">Facile à utiliser, accessible à tous et mis à jour régulièrement.</p>
					<p><a href="#lireplus" data-toggle="collapse" class="text-primary m-0 p-0">Lire la suite</a></p>
					<div id="lireplus" class="collapse border-0 m-0 p-0">

						<p>En quelques minutes, Go Impôts vous permet de vérifier facilement votre éligibilité aux différentes
							réductions d'impôts, obtenir un rapport détaillé sur les options qui s'offrent à vous et vous aider
							à économiser de l'argent sur vos impôts en étant sûr d'avoir bénéficié de toutes les réductions
							auxquelles vous avez droit.</p>
						<p><i>Ce test est entièrement gratuit, sans engagement et entièrement confidentiel.</i></p>

					</div>
					<div class="center-elements">
						<a href="{{ path('test_eligibilite') }}" class="btn btn-primary">Faire le test
							<i class="ti-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<!--- END COL -->

		</div>
		<!--- END ROW -->


		<div class="row align-items-center my-4">

			<div class="col-lg-6 col-sm-12 col-xs-12">
				<div class="pt-sm-4 about-content justify-center">
					<div class="section-title text-left">
						<h2 class="center-elements">Notre mission </h2>
						<h4 class="center-elements">Nous vous mettons en contact avec le meilleur conseiller fiscal de votre région</h4>
					</div>
					<ul class="circle">
						<li>Il existe de nombreux conseillers fiscaux qualifiés qui peuvent vous aider à comprendre les lois
							fiscales et à maximiser les déductions et crédits d'impôt auxquels vous avez droit. Il peut
							également vous aider à élaborer une stratégie pour minimiser vos impôts et obtenir un remboursement
							si vous en avez droit.
							<a href="#mission" data-toggle="collapse" class="text-primary">Lire la suite</a>
						</li>
					</ul>
					<div id="mission" class="collapse border-0">
						<ul>
							<li>Il est important de choisir un conseiller fiscal qui a une bonne réputation et une expérience
								solide dans les questions fiscales qui concernent votre situation personnelle. Il est également
								important de vous assurer que le conseiller fiscal est un membre d'une organisation
								professionnelle reconnue et qu'il est à jour sur les dernières lois fiscales. Nous vous mettons
								en relation avec un professionnel de votre région Gratuitement</li>
						</ul>
					</div>
				</div>
			</div>
			<!--- END COL -->

			<div class="col-lg-6 col-sm-12 col-xs-12 d-sm-block d-none" style="height: 400px;">
				<h2 class="pt-3 pb-3 center-elements d-sm-none d-block">Economisez de l’impôt</h2>
				<div class="about_img mb-4"
					style="background-image: url('{{ asset('themes/front/img/core/2.webp') }}'); background-repeat: no-repeat; border-radius: 20px; background-size: cover; background-position: center; width: 100%; height: 100%; position: relative; bottom: 0; left: 0">
				</div>
			</div>
			<!--- END COL -->

		</div>
		<!--- END ROW -->
	</div>
	<!--- END CONTAINER -->
</section>
<!-- END ABOUT US -->

<!-- Comment reduire impôt section -->
<section class="blog-content-section bg-white section-padding">
	<h2 class="text-center p-4">Comment payer moins d'impôts en Belgique ?</h2>
	<div class="container">
		<div class="row mb-4">
			<div class="col-lg-12">

				<div class="blog-posts">

					<div class="blog-single-post">

						<div class="bixol-img-wrapper d-none d-sm-block">
							<img src="{{ asset('themes/front/img/core/1.jpeg') }}" class="img-fluid rounded" alt="">
						</div>

						<div class="bixol-blog-content">
							<div class="bixol-blog-headline">
								<h5>Il existe plusieurs moyens de payer moins d'impôts en Belgique.</h5>

								<img src="{{ asset('themes/front/img/core/1.jpeg') }}"
									class="img-fluid w-100 mt-3 mb-3 rounded d-block d-sm-none" alt="">
							</div>
							<div class="bixol-blog-pera">
								<p>
									Voici quelques options courantes :</p>
								<ul>
									<li>
										Utiliser les déductions d'impôts auxquelles vous avez droit. Il existe des déductions pour
										des dépenses comme les intérêts d'emprunt pour un logement, les cotisations de sécurité
										sociale, les dons à des organisations caritatives, les frais de garde d'enfants, les
										dépenses de formation professionnelle, entre autres. Assurez-vous de conserver des reçus
										et des preuves pour les dépenses que vous voulez déduire.
										<a href="#demo" data-toggle="collapse" class="text-primary">Lire la suite</a>
									</li>

									<li>
										<div id="demo" class="collapse border-0">

											<ul>
												<li>
													Prenez en compte les crédits d'impôt disponibles. Il existe des crédits d'impôt
													pour des choses comme l'emploi d'un salarié à domicile, les investissements dans
													les PME, les dépenses liées à l'énergie, entre autres.
													Éviter de payer des impôts en trop en planifiant efficacement vos revenus et vos
													dépenses. Cela inclut des choses comme échelonner les paiements de vos factures
													pour les aligner avec l'année fiscale, maximiser vos contributions à des plans
													d'épargne-retraite, et utiliser des sociétés pour gérer vos revenus et vos
													dépenses de manière efficace.
													Profiter des régimes fiscaux favorables. Il existe des régimes fiscaux
													spécifiques qui offrent des avantages pour certains types d'entreprises ou pour
													certaines industries. Assurez-vous de comprendre les règles de chaque régime et
													de vérifier si vous êtes éligible.
												</li>
											</ul>

										</div>
									</li>
								</ul>

							</div>
						</div>

					</div>

				</div>

			</div>
		</div>

		<div class="row mt-4">
			<div class="col-md-12">
				<div class="blog-posts">
					<div class="blog-single-post">
						<div class="bixol-blog-content">
							<div class="bixol-blog-headline">
								<h5>Les dispositifs les plus efficaces pour payer moins d’impôts en Belgique</h5>

								<img src="{{ asset('themes/front/img/core/0.jpeg') }}"
									class="img-fluid w-100 mt-3 mb-3 rounded d-block d-sm-none" alt="">
							</div>
							<div class="bixol-blog-pera">
								<ul>
									<li>Il existe de nombreux moyens de réduire vos impôts en Belgique, voici quelques conseils
										pour optimiser votre déclaration :

										<p>Investir dans un plan d'épargne-pension qui offre des déductions fiscales de 30% à 25%
											sur les montants maximaux de 990€ et 1270€ respectivement</p>

										<a href="#suite" data-toggle="collapse" class="text-primary">Lire la suite</a>
									</li>
									<li>
										<div id="suite" class="collapse border-0">

											<ul>
												<li>Investir dans des assurances-vie ou des plans d'épargne à long terme pour
													bénéficier de
													réductions fiscales sur un montant maximal de 2350€.</li>
												<li>
													Constituer une pension complémentaire en tant qu'indépendant via une Pension
													complémentaire libre pour indépendants (PCLI) qui permet de déduire les primes
													versées comme frais professionnels.
												</li>
												<li>
													Faire des dons à des œuvres caritatives reconnues pour une réduction d'impôt de
													45% sur un minimum de 40€ par institution et par an.
												</li>
												<li>Profiter des avantages fiscaux liés au crédit logement pour les achats de
													résidence principale, les travaux d'amélioration de l'habitat, les prêts
													étudiants et les prêts pour les personnes handicapées.</li>
												<li>Profiter des déductions pour les dépenses de formation professionnelle</li>
												<li>Profiter des déductions pour les investissement dans les PME</li>
												<li>Profiter des déductions pour les investissement dans les fonds d'investissement
												</li>
												<li>Profiter des déductions pour les dépenses en matière de recherche et de
													développement</li>
												<li>Pour obtenir des informations plus détaillées et personnalisées sur les
													déductions fiscales auxquelles vous pouvez prétendre, il est recommandé de
													consulter un expert-comptable ou un fiscaliste.</li>
											</ul>

										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="bixol-img-wrapper pt-4 pb-4 d-none d-sm-block">
							<img src="{{ asset('themes/front/img/core/0.jpeg') }}" class="img-fluid rounded" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Comment reduire les impots -->